<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public_key</key>
	<data>
	bOkj3ntLQtyb9Ls5DJXB0G2u7KGFbeIwQr+hPdcSdZE=
	</data>
	<key>private_key</key>
	<data>
	3htYemp6G01EhHVj1wW6a4PuQX0PS9U1v3JGAd6u4xg=
	</data>
	<key>identifier</key>
	<string>e0e4202a-6e45-3761-91bc-baf2285ab87b</string>
</dict>
</plist>