<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classes</key>
	<array>
		<string>1AVB</string>
		<string>2AVB</string>
		<string>3AVB</string>
		<string>ABQRS</string>
		<string>AFIB</string>
		<string>AFLT</string>
		<string>ALMI</string>
		<string>AMI</string>
		<string>ANEUR</string>
		<string>ASMI</string>
		<string>BIGU</string>
		<string>CLBBB</string>
		<string>CRBBB</string>
		<string>DIG</string>
		<string>EL</string>
		<string>HVOLT</string>
		<string>ILBBB</string>
		<string>ILMI</string>
		<string>IMI</string>
		<string>INJAL</string>
		<string>INJAS</string>
		<string>INJIL</string>
		<string>INJIN</string>
		<string>INJLA</string>
		<string>INVT</string>
		<string>IPLMI</string>
		<string>IPMI</string>
		<string>IRBBB</string>
		<string>ISCAL</string>
		<string>ISCAN</string>
		<string>ISCAS</string>
		<string>ISCIL</string>
		<string>ISCIN</string>
		<string>ISCLA</string>
		<string>ISC_</string>
		<string>IVCD</string>
		<string>LAFB</string>
		<string>LAO/LAE</string>
		<string>LMI</string>
		<string>LNGQT</string>
		<string>LOWT</string>
		<string>LPFB</string>
		<string>LPR</string>
		<string>LVH</string>
		<string>LVOLT</string>
		<string>NDT</string>
		<string>NORM</string>
		<string>NST_</string>
		<string>NT_</string>
		<string>PAC</string>
		<string>PACE</string>
		<string>PMI</string>
		<string>PRC(S)</string>
		<string>PSVT</string>
		<string>PVC</string>
		<string>QWAVE</string>
		<string>RAO/RAE</string>
		<string>RVH</string>
		<string>SARRH</string>
		<string>SBRAD</string>
		<string>SEHYP</string>
		<string>SR</string>
		<string>STACH</string>
		<string>STD_</string>
		<string>STE_</string>
		<string>SVARR</string>
		<string>SVTAC</string>
		<string>TAB_</string>
		<string>TRIGU</string>
		<string>VCLVH</string>
		<string>WPW</string>
	</array>
	<key>source</key>
	<string>models/ecg_ptbxl_benchmarking/output/exp0/data/mlb.pkl</string>
</dict>
</plist>
